@{
    ViewBag.Title = "Index";
}

<div>DateTime.Now   = @DateTime.Now</div>
<div>DateTime.Today = @DateTime.Today</div>

<ul>
    <li><a href="https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-lcid/a9eac961-e77d-41a6-90a5-ce1a8b0cdb9c" target="_blank">Windows Culture Table</a></li>
</ul>

<ul>
    <li><a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings" target="_blank">C# Standard Date and Time Format Strings</a></li>
    <li><a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings" target="_blank">C# Custom Date and Time Format Strings</a></li>
</ul>